{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "react"
  ],
  "plugins": [
    "lodash",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "babel-plugin-styled-components",
    "polished"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}