{
  "plugins": [
    "lodash",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-aliases",
          {
            "config": "./webpack.config.common.js"
          }
        ]
      ]
    }
  }
}