
### Project Specific
/dist/**
/logs/**

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
buildTestServer/node_modules

### Intellij
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

### OS
Thumbs.db
Desktop.ini
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

# flow-typed
flow-typed/npm/*
!flow-typed/npm/module_vx.x.x.js

#ide
dist
.idea
npm-debug.log.*
